<% product.forEach(product => { %>
  <div class="product-items">
    <img src="data:image/<%=product.image.contentType%>;base64,
    <%=product.image.data.toString('base64')%>"/>
    <div class="card-content">
      <h3><%= product.title %></h3>
      <p>
        <%= product.desc %> 
        </p>
        <h2><%= product.price %> <del><%= product.offprice %> </del></h2>
    </div>
    <div class="card-btn">
      <i class="material-icons heart">favorite</i>
      <button>Buy</button>
      <button>Add to cart</button>
    </div>
  </div>
<% }) %>