<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop India</title>
    <%- include ("../partials/home/links.ejs") %> 
  </head>
  <body>
      <%- include('../partials/home/header.ejs') %> 
      <%- include ("../partials/home/hero.ejs") %> 
      <div class="main">

        <h1>Brand New products</h1>
        <div class="products">
          
          <%- include('../partials/home/product-items.ejs',{
            link: "https://source.unsplash.com/500x501/?shoe"
          }) %> 

<!-- <%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x502/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x503/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x504/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x505/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x506/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x507/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x508/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x509/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x510/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x511/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x512/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x513/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x514/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x515/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x516/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x517/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x518/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x519/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x520/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x521/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x522/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x523/?shoe"
}) %> 

<%- include('../partials/home/product-items.ejs',{
  link: "https://source.unsplash.com/500x525/?shoe"
}) %>  -->

 
</div>
  </div>
    <%- include("../partials/home/footer.ejs") %> 
  </body>
</html>
