<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop India</title>
    <%- include ("../partials/home/links.ejs") %>
  </head>
  <body>
    <%- include('../partials/home/header.ejs') %>
    <%- include("../partials/home/slidehomemenu.ejs") %> 
    <%- include("../partials/home/hero.ejs") %>
    <div class="main">
      <h1>Brand New products</h1>
      <div class="products">
        <%- include("../partials/home/product-items.ejs") %> 
      </div>
    </div>
    <%- include("../partials/home/footer.ejs") %>
  </body>
</html>
